@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Noto+Serif+Ahom&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    box-sizing: border-box; 
} 

h1 {
    font-family: "Playfair Display", serif;
}


body {
    
    background-color: #0d6efd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px; 
}

#login {
    background-color: white;
    width: 100%;
    max-width: 900px; 
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#logar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    ;
}

button {
    width: 100%;
    max-width: 350px;
    height: 45px;
    border-radius: 10px;
    background-color:  white;
    color: #0d6efd;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    ;
}

button:hover {
    background-color: #F23D3D;
}

a {
    text-decoration: none;
    color: var(--azulPrincipal);
    font-size: 14px;
    margin-top: 10px;
    color: white;
    font-family: "Playfair Display", serif;

}

#banner {
    width: 100%;
    max-width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

#banner h1, #banner h3 {
    color: white;
}

#banner img {
    max-width: 70%;
    height: auto;
}
